@font-face {
  font-family: "iconfont";
  /* Project id 4054202 */
  src: url('iconfont.woff2?t=1684614215071') format('woff2'),
    url('iconfont.woff?t=1684614215071') format('woff'),
    url('iconfont.ttf?t=1684614215071') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: 'iconfont';
  /* speak: none; */
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* line-height: 1; */

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-caidan:before {
  content: "\e609";
}

.icon-caidan1:before {
  content: "\e626";
}

.icon-menu:before {
  content: "\e67c";
}

.icon-caidan2:before {
  content: "\e60a";
}

.icon-caidan-kuai:before {
  content: "\e899";
}

.icon-erweima:before {
  content: "\e60c";
}

.icon-erweima1:before {
  content: "\e644";
}

.icon-erweima2:before {
  content: "\e6bd";
}

.icon-erweima3:before {
  content: "\e98d";
}

.icon-douyin1:before {
  content: "\e8db";
}

.icon-weixin:before {
  content: "\e600";
}

.icon-weixin1:before {
  content: "\e695";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-weixin2:before {
  content: "\e624";
}

.icon-weixin3:before {
  content: "\e637";
}

.icon-QQ1:before {
  content: "\e667";
}

.icon-douyin:before {
  content: "\e601";
}

.icon-triangle-right:before {
  content: "\e62c";
}

.icon-zhandouzuozhan:before {
  content: "\e7b2";
}

.icon-huohu:before {
  content: "\e72e";
}

.icon-05sousuo:before {
  content: "\e605";
}

.icon-firefox:before {
  content: "\e646";
}

.icon-58:before {
  content: "\e690";
}

.icon-baby:before {
  content: "\e616";
}

.icon-you:before {
  content: "\e617";
}

.icon-changlonghangkong_GJ:before {
  content: "\e62d";
}

.icon-niu:before {
  content: "\e618";
}

.icon-zhangu:before {
  content: "\e69d";
}

.icon-niuniu:before {
  content: "\e619";
}

.icon-huli:before {
  content: "\e61a";
}

.icon-shangjiantou:before {
  content: "\eb6d";
}

.icon-jiangbei-:before {
  content: "\e6a7";
}

.icon-jiangbei-1:before {
  content: "\e6a8";
}

.icon-jiangbei-2:before {
  content: "\e6a9";
}

.icon-jiangbei-3:before {
  content: "\e6b3";
}

.icon-jiangbei-4:before {
  content: "\e6b4";
}

.icon-jiangbei-5:before {
  content: "\e6b5";
}

.icon-jiangbei-6:before {
  content: "\e6b6";
}

.icon-jiangbei-7:before {
  content: "\e6b7";
}

.icon-jiangbei-8:before {
  content: "\e6b8";
}

.icon-jiangbei-9:before {
  content: "\e6b9";
}

.icon-jiangbei-10:before {
  content: "\e6ba";
}

.icon-jiangbei-11:before {
  content: "\e6bb";
}

.icon-xiangyousanjiaoxing:before {
  content: "\e70f";
}

.icon-youshuangjiantou:before {
  content: "\e638";
}

.icon-hou:before {
  content: "\e680";
}

.icon-long:before {
  content: "\e68b";
}

.icon-huli1:before {
  content: "\e694";
}

.icon-you1:before {
  content: "\e625";
}

.icon-shenqisixia-shenqixiansheng:before {
  content: "\e653";
}

.icon-tujiu:before {
  content: "\e663";
}

.icon--cow:before {
  content: "\e62f";
}

.icon--shang:before {
  content: "\e627";
}

.icon-ertongpiao:before {
  content: "\e8af";
}

.icon-arrow_right_fat:before {
  content: "\e62e";
}

.icon-ditu-youxia-tuceng:before {
  content: "\e628";
}

.icon-yinger:before {
  content: "\e604";
}

.icon-ertong:before {
  content: "\e621";
}

.icon-youzhijiantou1:before {
  content: "\e61b";
}

.icon-dongzuo:before {
  content: "\e614";
}

.icon-long1:before {
  content: "\f1b3";
}

.icon-hou1:before {
  content: "\f1b7";
}

.icon-jinniuzuo:before {
  content: "\f1be";
}

.icon-jinniuzuo1:before {
  content: "\f3f0";
}

.icon-hou2:before {
  content: "\f3f4";
}

.icon-flower:before {
  content: "\e606";
}

.icon-plume:before {
  content: "\e607";
}

.icon-sands:before {
  content: "\e608";
}

.icon-anemo:before {
  content: "\e60d";
}

.icon-cryo:before {
  content: "\e60e";
}

.icon-dendro:before {
  content: "\e60f";
}

.icon-electro:before {
  content: "\e610";
}

.icon-geo:before {
  content: "\e611";
}

.icon-hydro:before {
  content: "\e612";
}

.icon-pyro:before {
  content: "\e613";
}

.icon-amber:before {
  content: "\e615";
}

.icon-weapon:before {
  content: "\e61c";
}

.icon-item:before {
  content: "\e61d";
}

.icon-task:before {
  content: "\e61e";
}

.icon-tool:before {
  content: "\e61f";
}

.icon-artifact:before {
  content: "\e620";
}

.icon-ore:before {
  content: "\e622";
}

.icon-material:before {
  content: "\e623";
}

.icon-guanjunjiangbei:before {
  content: "\ffbe";
}

.icon-xiaohuli1:before {
  content: "\e710";
}